div {
  /*border: 1px solid black;*/
}

body {
  font-family: 'Roboto', sans-serif;
  color: #57595c;
  background-color: #edefec;
}

h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0;
}

.subtitle {
  font-size: 0.75em;
  color: gray;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.title {
  text-align: center;
  height: 4em;
  padding-top: 2em;
}

.location {
  width: 100%;
  height: 200px;
  background-position: center;
  background-size: cover;
  text-align: center;
  margin: 1em 0.5em;
}

.location-name {
  color: white;
  display: block;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: 1.5em;
}

.more-content {
  padding: 10px 0 10px 0;
}

.btn-further {
  border: 1px solid gray;
  border-radius: 3px;
  text-align: center;
  padding: 4px;
  width: 250px;
  background-color: white;
  margin: 0 auto;
  cursor: pointer;
  font-size: 0.8em;
}

.btn-further:hover {
  background-color: #eeeeee;
}

#SF {
  background-image: url('../img/san-francisco.jpg');
}

#NY {
  background-image: url('../img/new-york.jpg');
}

#London {
  background-image: url('../img/london.jpg');
}

#Napa {
  background-image: url('../img/napa.jpg');
}

#Sonoma {
  background-image: url('../img/sonoma.jpg');
}

#SF2 {
  background-image: url('../img/san-francisco-2.jpg');
}

@media (min-width: 1300px) {
  .title p {
    line-height: 0.1;
  }
  .section {
    text-align: center;
  }
  .location {
    display: inline-block;
    width: 20%;
    height: 250px;
    margin: 0 0.5em;
  }
  .more-content {
    padding: 20px 0 0 0;
  }
  .btn-further {
    width: 20%;
  }
}