body {
  font-family: 'Roboto', sans-serif;
  color: #57595c;
  background-color: #edefec;
}
button {
  text-align: center;
  width: 100%;
  background: white;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  color: #57595c;
  font-size: 0.8em;
  font-weight: 500;
  padding: 5px 0;
  margin: 0 0 18px 0;
}
button:hover {
  background: #eeeeee;
  border: 1px solid grey;
}

h3 {
  font-weight: bold;
}

p {
  font-size: 0.8em;
  font-weight: 600;
  margin: -13px auto 25px auto;
}

span {
  position: relative;
  top: 46%;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

.wrapper {
  width: 100%;
  text-align: center;
}
.grid {
  height: 200px;
  margin: 0 0 30px 0;
}
.box {
  width: 100%;
  margin: 0 auto 1.5em auto;
  background-size: cover;
  background-position: center;
  height: 20vh;
  position: relative;
}
#box1 {
  background-image: url("../img/san-francisco.jpg");
}
#box2 {
  background-image: url("../img/new-york.jpg");
}
#box3 {
  background-image: url("../img/london.jpg");
}
#box4 {
  background-image: url("../img/napa.jpg");
}
#box5 {
  background-image: url("../img/sonoma.jpg");
}
#box6 {
  background-image: url("../img/san-francisco-2.jpg");
}

a {
  text-decoration: none;
}

/*wide screens*/
@media (min-width: 600px) {
  .pic-container {
    width: 70vw;
    margin: auto;
  }
  .box {
    width: 30%;
    height: 55vh;
    display: inline-block;
    margin-left: 1rem;
    margin-right: 1reml;
  }

  button {
    width: 15vw;
  }

  .footer {
    margin: 5rem auto 1rem auto;
    width: 60vw;
    text-align: center;
    display: flex;
    justify-content: space-between;
  }

}
