body {
  font-family: 'Roboto', sans-serif;
  color: #57595c;
  background-color: #edefec;
}
button {
  text-align: center;
  width: 100%;
  background: white;
  border: 1px solid #cfcfcf;
  border-radius: 3px;
  color: #57595c;
  font-size: 0.8em;
  font-weight: 500;
  padding: 5px 0;
  margin: 0 0 18px 0;
}
button:hover {
  background: #eeeeee;
  border: 1px solid grey;
}
h3 {
  font-weight: bold;
}
p {
  font-size: 0.8em;
  font-weight: 600;
  margin: -13px auto 25px auto;
}
span {
  position: relative;
  top: 46%;
  color: white;
  font-weight: bold;
  letter-spacing: 1px;
}

.wrapper {
  width: 100%;
  text-align: center;
}
.grid {
  height: 200px;
  margin: 0 0 30px 0;
}
.box {
  width: 100%;
  margin: 0 auto 1.5em auto;
  background-size: cover;
  background-position: center;
  height: 20vh;
  position: relative;
}
#box1 {
  background-image: url("../img/san-francisco.jpg");
}
#box2 {
  background-image: url("../img/new-york.jpg");
}
#box3 {
  background-image: url("../img/london.jpg");
}
#box4 {
  background-image: url("../img/napa.jpg");
}
#box5 {
  background-image: url("../img/sonoma.jpg");
}
#box6 {
  background-image: url("../img/san-francisco-2.jpg");
}

@media (min-width: 900px) {
  body {
    padding: 10px 20% 0 20%;
  }

  .row, .img-row {
    width: 750px;
    margin: 0 auto;
  }

  .img-row {
    display: flex;
    justify-content: space-between;
  }
  
  .box {
    display: 'block';
    box-sizing: border-box;
    flex: 1 1 auto;
    margin: 20px;
    max-width: 200px;
    height: 200px;
  }

  button {
    width: 25%;
  }

}